﻿@{
    ViewBag.Title = "Home Page";
}

 

<style>
    .slider_bg_1 {
/*        background-image: url(~/Content/img/banner/banner.png);*/
        background-image: url('../../Content/img/banner/banner.png');
    }
    h1, h2, h3, h4, h5 {
        font-family: "Poppins", sans-serif;
        color: #2E004B;
    }
    h3 {
        font-size: 24px;
    }
    .slider_area .single_slider {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .boxed_btn {
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        padding: 17px 50px;
        background: #04D2C8;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        border: 1px solid transparent;
        display: inline-block;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
    }
        /* line 10, C:/Users/SPN Graphics/Desktop/CL September/Edu mark/207 Education/HTML/scss/_slider.scss */
        .slider_area .single_slider .illastrator_png {
            position: relative;
            right: 63px;
        }
</style>


<div class="slider_area ">
    <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6 col-md-6">
                    <div class="illastrator_png">
                        <img src="~/Content/img/banner/edu_ilastration.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="slider_info">
                        <h3>
                            Learn your <br>
                            Favorite Course <br>
                            At DUT
                        </h3>
                        <a href="https://localhost:44374/students/StudentsList" class="boxed_btn">Browse Our list of students</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

